<!doctype html>
<html lang="en" ng-app="bestRestaurants">
    <head>
        <title>The Best Restaurants in Portland</title>
        <script src="lib/angular.js"></script>
        <script src="app.js"></script>
        <script src="js/RestaurantsController.js"></script>
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>
    <body>
        <div class="container" ng-controller="RestaurantsCtrl">
            <div class="row">
                <div class="col-md-12">
                    <h4>Search Restaurants</h4>
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <input ng-model="query" type="text" class="form-control" placeholder="$$$$">
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h4>Restaurant List</h4>
                    <ul>
                        <li ng-repeat="item in filtered = (restaurants | filter:query)">
                            {{item.name}} -
                            {{item.type}} -
                            {{item.price}}
                        </li>
                    </ul>
                </div>
                <!-- <div class='col-md-4'>
                    <h2>New Restaurant</h2>
                    <form ng-submit='addRestaurant()' class='form-inline' form='form'>

                    </form>
                </div> -->
            </div>
        </div>
    </body>
</html>
